html
	{
	font-family: sans-serif;
	}
	
body
	{
	margin-top: 5px;
	}

.section
	{
	padding: 0px 10px 10px 10px;
	margin: 20px 15px 0px 0px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 0px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0px ; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	}

h1
	{
	text-shadow: 2px 2px 3px #888888;
	filter: dropshadow(color = #888888, offx = 2, offy = 2);
	height: 0;
	margin-top: 0;
	display: block;
	white-space: nowrap;
	}

h2
	{
	display: block;
	white-space: nowrap;
	text-shadow: 2px 2px 3px #888888;
	filter: dropshadow(color = #888888, offx = 2, offy = 2); 
	}

code
	{
	display: block;
	white-space: nowrap;
	height: 1.25em;
	}
	
.keyword
	{
	color: #00008B;
	}
.bracket
	{
	color: #006400;
	}
.operator
	{
	color: #0000FF;
	}
.param
	{
	color: #8b0000;
	}
.curlies
	{
	color: #202014;
	}
.csgop
	{
	color: #00008B;
	}
.special
	{
	color: #0000FF;
	}
.comment
	{
	color: #008b8b;
	}
.math
	{
	color: #00008B;
	}
.prim2d
	{
	color: #191970
	}